/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Indie Flower", cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
header {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: light-cyan;
  width: 100%;
  border-bottom: 2px dashed silver;
  padding: 15px 0px;
}
@media (min-width: 600px) {
  header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
}
header .headerNav {
  width: 90%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
header .headerNav a {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  transition: 250ms;
}
header .headerNav a:hover {
  color: #17a2b8;
}
@media (min-width: 600px) {
  header .headerNav {
    width: 40%;
  }
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #ffebcd;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
.home {
  width: 90%;
}
.home .hero {
  padding-bottom: 15px;
  border-bottom: 2px dashed silver;
}
.home .hero * {
  margin: 15px 0px;
}
.home .hero .heroImg {
  height: 250px;
  background: url(../img/fun-bus.jpg) no-repeat center;
  background-size: cover;
  background-position: center;
}
.home .content-section {
  margin: 30px 0;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.home .content-section .img-content {
  width: 100%;
  padding-top: 100%;
  background: url("../img/fun.jpg") no-repeat;
  background-size: cover;
  border-radius: 10px;
}
@media (min-width: 600px) {
  .home .content-section {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .home .content-section .text-content {
    width: 50%;
    padding: 30px;
  }
  .home .content-section .img-content {
    width: 50%;
    padding-top: 50%;
  }
}
.home .content-section ~ .content-section {
  display: flex;
  flex-flow: column-reverse;
  justify-content: center;
  align-items: center;
}
.home .content-section ~ .content-section .img-content {
  width: 100%;
  padding-top: 100%;
  background: url("../img/adventure.jpg") no-repeat;
  background-size: cover;
  border-radius: 10px;
}
@media (min-width: 600px) {
  .home .content-section ~ .content-section {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .home .content-section ~ .content-section .text-content {
    width: 50%;
    padding: 30px;
  }
  .home .content-section ~ .content-section .img-content {
    width: 50%;
    padding-top: 50%;
  }
}
.home .content-destination {
  width: 100%;
  margin: 0 auto 30px;
}
.home .content-destination .destination-img {
  width: 100%;
  border-radius: 10px;
  height: 200px;
  background: url("../img/destination.jpg") no-repeat;
  background-size: cover;
}
.home .content-pick {
  padding-top: 30px;
  width: 100%;
  border-top: 2px dashed #c0c0c0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.home .content-pick .destination {
  width: 100%;
  margin-bottom: 30px;
  padding: 15px;
}
.home .content-pick .destination .btn {
  background-color: #17a2b8;
  color: white;
  width: 100px;
  height: 20px;
  border-radius: 5px;
  transition: 500ms;
  font-size: 1.2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.home .content-pick .destination .btn:hover {
  filter: brightness(60%);
}
@media (min-width: 600px) {
  .home .content-pick {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
  }
  .home .content-pick .destination {
    width: 33.33333333%;
    margin-bottom: 30px;
    padding: 15px;
  }
}
